body {
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: blanchedalmond;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(61, 0, 0);
}

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 650px;
}

